/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    font-family: cursive; 
}

/*Fix the navigation bar position to move as user scrolls*/
nav {
    position: fixed;
    width: 100%;
    background-color: rgb(186, 60, 60);
    }

/* List items in navigation bar */
.header-link {
    list-style-type: none;
    font-size: 20px;
    display: inline;
    padding: 10px 25px 0px 10px;
    }

/* Align navigation links*/
#header-bar {
    text-align: right;
    padding: 10px 0px 10px 0px;
    }

/* Define text color for navigation links*/
a {
    color: #ebbf83; 
}
/* When links are clicked (or clicked and held) 
the color will be dark slate blue */
a:active {
    color: rgb(66, 60, 101);
} 

/*Add color to body background*/
body {
    background-color: #f1d7b2;
} 

/* Determine generic header attributes */
h1,
h2 {
    text-align: center;
    font-weight: bolder;
    color: rgb(66, 60, 101);
    }

/* Determine specific heading for header*/
#page-name {
    padding: 100px 0px 10px 0px;
}

/* Determine specific heading for header*/
#form-name {
    padding: 10px 0px 10px 0px;
}

/* Define dimension and placement for image*/
#page-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    }

/* Define dimension and style of form*/
form {
    margin: auto;
    width: 300px;
    margin-top: 20px;
    padding: 10px;
    border: 5px solid rgb(66, 60, 101);
    border-radius: 20px;
}

/* Define dimension and style for user input */
.form-input {
    display: block;
    margin: 10px 0px 10px 40px;
    color: rgb(66, 60, 101);
}

/* Define style for button */
button {
    height: 40px;
    width: 120px;
    margin: 10px 0px 10px 90px;
    background-color: rgb(66, 60, 101);
    color: #ebbf83;
    font-weight:bolder;
    margin-top: 10px;
}

/* Define style for footer */
footer {
    position: absolute;
    width: 100%;
    margin-top: 100px;
    padding: 10px 0px 10px 0px;
    background-color: rgb(186, 60, 60);
    text-align: center;
    color: #ebbf83;
}